<div class="header" data-ui-field="header">
    <div class="app-switcher">
        <img alt="app-switcher" src="images/app-switcher.svg">
    </div>
    <img alt="KARMEN" class="logo" src="images/logo-white.png">
</div>
    <div data-ui-field="header-box" layout="row center-center">
        <!-- <div class="title">
            SPAM Detection
        </div>
        <div data-ui-load="shared/input_box"></div>
        <div class="title">
            Messages
        </div> -->
    </div>
<!-- </div>
<div data-ui-field="header-tools">
    <div class="topics" data-ui-load="@lib/controllers/view_pager" data-ui-options="options.topicIndicator">
        <div>
            Top Stories
        </div>
        <div>
            World
        </div>
        <div>
            Europe
        </div>
        <div>
            Travel
        </div>
    </div>
</div> -->
